.hero{
    max-width: 1400px;
    margin: 0 auto;

    min-height: calc(100vh - 80px);

    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:80px;

    padding:40px 40px;
    padding-top: 120px;
}

.hero-left{
    flex:1;
}

.hero-right{
    flex:1;

    display:flex;
    justify-content:center;
}

.preview{

    position:relative;

}

.dashboard{

    width:100%;

    border-radius:30px;

}

.phone{

    position:absolute;

    right:-40px;

    bottom:-30px;

    width:240px;
}