.landing {
    --page-bg: #ffffff;
    background: var(--page-bg);
    transition: background 900ms ease; 

    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

.landing-dark {
    --page-bg: #103629;
}

.scene {
    position: relative;
    width: 100%;
    height: 100vh;
}